.work {
    padding-top: 50px;

    &-title {
        font-family: $font-family;
        font-weight: 500;
        @include adaptive-value('font-size', 14, 12);
        line-height: 150%;
        color: #1572d3;
        text-align: center;
        border-radius: 8px;
        width: 201px;
        height: 42px;
        margin: 0 auto;
        @include flex(center, center);
        padding: 16px 32px;
        background: rgba(21, 114, 211, 0.1);
    }

    &-subtitle {
        font-family: $font-family;
        font-weight: 500;
        @include adaptive-value('font-size', 38, 28);
        line-height: 130%;
        text-align: center;
        color: #333;
        padding-top: 20px;
    }

    &-steps{
        @include flex(unset, center);
        gap: 130px;
        flex-wrap: wrap;
        padding-top: 50px;

        @media screen and (max-width: 800px){
            gap: 50px;
        }
    }

    &-step {
        @include flex(center, unset);
        flex-direction: column;
        gap: 15px;

        &_icon {
            @include flex(center, center);
            border-radius: 16px;
            width: 112px;
            height: 112px;
            background: #ecf5ff;
        }

        &_title {
            font-family: $font-family;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            color: #000;
        }

        &_subtitle {
            font-family: $font-family;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: #6d6d6d;
            text-align: center;
            width: 150px;
        }
    }
}